body {
    background-color: #ccc; /* plano de fundo cinza */
    margin: 0 20px; /* margem de respiro a direita e esquerda */
    padding: 20px; /* margem interna em todos os lados */
  }

/* Classe para títulos */
.title {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  /* Classe para textos em geral */
  .text {
    display: justify;
    margin: 4px;
  }
  
  /* Classes para imagens */
  .image-1 {
    width: 400px;
    height: 400px;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  
  .image-2 {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  
  .image-3 {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  
  /* Classe para links */
  .link {
    text-decoration: none;
    font-weight: bold;
  }

  /* Classe para conteúdo */
.content {
  background-color: whitesmoke;
  margin: 20px;
  padding: 20px;
}

  /* Classe para container */
.container {
    display: flex;
    margin: 5px;
    padding: 5px;
  }

.container-flex {
  display: flex;
}

/* ----------CONTAINERS---------- */

 /* Classe para o 1º Container */
.container1{
  display: block; 
  text-align: left;
  background: lightblue;
  border: 8px solid whitesmoke;
}

 /* Classe para o 2º Container */
.container2{
  display: block; 
  text-align: center;
  background: lightgray;
  border: 8px solid whitesmoke;
}

 /* Classe para o 3º Container */
 .container3{
  display: block; 
  text-align: right;
  background: lightgoldenrodyellow;
  border: 8px solid whitesmoke;
 }